@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #333;
  --main-text-color: #fff;
  --orange-color: #ffc107;
  --light-gray: #aaa;
  --code-color: #0400ff;
}

body {
  font: 400 16px 'Roboto', sans-serif;
  line-height: 1.5;
  color: var(--main-text-color);

  background-color: var(--main-bg-color);
}

h1 {
  font: 700 28px 'Roboto', sans-serif;
  margin: 0 0 15px;
}

h2 {
  font: 700 22px 'Roboto', sans-serif;
  color: var(--orange-color);
  margin: 0 0 10px;
}

h3 {
  font: 700 16px 'Roboto', sans-serif;
  color: var(--light-gray)
}

p {
  margin: 5px 5px 5px 15px;
}

.container {
  max-width: 1000px;
  margin-left: auto; 
  margin-right: auto; 
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  border-bottom: 3px solid var(--orange-color);
}

.avatar {
  width: 180px;
  height: 180px;
  margin-left: 30px;
  margin-right: 30px; 

  border: 3px solid var(--orange-color);
  border-radius: 50%;

  overflow: hidden;
}

.position {
  color: var(--light-gray);
  margin-bottom: 5px;
}

.location {
  color: var(--orange-color);
  margin-bottom: 5px;
}

.contacts {
  font-size: 0;

  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts__item {
  display: inline-block;
  margin-right: 15px;

  font-size: 18px;
}

.contacts__item-link:hover {
  opacity: 0.7;
}

.icons {
  display: inline-block;
  height: 30px;

  vertical-align: middle;
}
.icons_size_sm {
  height: 20px;
  vertical-align: -3px;
}

section {
  padding: 30px;
  margin-bottom: 30px;
  border-bottom: 1px dotted var(--orange-color);
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
  background-color: var(--light-gray);
  color: var(--code-color);
}